{
  "TEST_USER_EMAIL": "seu-email-diretoria@empresa.com",
  "TEST_USER_PASSWORD": "sua-senha-aqui",
  "TEST_USER_ROLE": "diretoria",
  "TEST_LIMITED_USER_EMAIL": "usuario-sem-diretoria@empresa.com",
  "TEST_LIMITED_USER_PASSWORD": "senha-do-usuario-limitado"
}
